# Bot:
bot:
{
	debug: False
	name: 'fsiBot'
	password: ''
	server: 'irc.freenode.org'
	port: 6667
	channel: '##fsi'
	admins: ['mathias_']
	modules: ['BeerModule', 'FortuneModule', 'DeiMuddaModule', 'PastebinModule', 'MensaModule', 'BestOfModule', 'RRouletteModule']
}

# Module configurations?
